<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title}}</title>
            <link rel="stylesheet" type="text/css" href="/main.css">
        </head>
        <body>
            <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="/local opportunities">local opportunities</a></li>
                <li><a href="/youtube">youtube resources</a></li>
                <li><a href="/viola">viola resources</a></li>
                <li><a href="/song requests/questions">song requests/questions</a></li>
            </ul>
            </nav>

            {{ content }}

            <footer>
            <ul>
                <li><a href= "mailto:2018Shmn@gmail.com">email for any questions</a></li>
            </ul>
            </footer>

        </body>
    </html>

